.ekart--top-header{
  height: 48px;
  background-color: #28282B;
  text-align: center;
  color: #FAFAFA;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

