.radio-container{
    display: flex;
    gap: 12px;
    margin: auto;
    padding: 0 17vh;
    justify-content: center;
}

.radio-container > div {
    display: flex;
    align-items: center;
    gap: 5px;

}