<div class="container">
  <app-search
    (onSearchTextChange)="onSearchFilter($event)"
    [options]="options"
  />
  <app-filter
    [productCount]="stockCount"
    (radioBtnEvent)="onFilterChange($event)"
  />

  <section class="ekart--products--container">
    <div class="product-container">
      <div
        *ngFor="let product of products; let i = index"
        (click)="handleProduct(product)"
      >
        <product
          [product]="product"
          *ngIf="
            (selectedFilter === 'All' ||
              selectedFilter ===
                (product.is_in_inventory ? 'true' : 'false')) &&
            (searchFilterText === '' ||
              product.name
                .toLowerCase()
                .includes(searchFilterText.toLowerCase()))
          "
        />
      </div>
    </div>
  </section>
</div>

<!-- NOTE: This is product details component which is open on product click -->
<app-product-detail (closeDrawerEvent)="closeDrawer()" [selectedProduct]="selectedProduct" [visible]="showProduct" />
