<!-- <div class="ekart--search--product">
  <input
    type="text"
    class="ekart-search-product-input"
    [(ngModel)]="searchText"
    (input)="onSearchTextInputChange()"
  />
  <button
    class="btn btn-search"
    [ngClass]="{ 'btn-search-disabled': !searchText }"
    [disabled]="!searchText"
  >
    Search
  </button>
</div>
<div *ngIf="searchText" class="ekart-search-result-for">
  <p><strong>Search result for:</strong> {{ searchText }}</p>
</div> -->
<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
  <input type="text" nz-input placeholder="input search text" />
</nz-input-group>
<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
</ng-template>